/*Defining shared styles for action buttons.*/
.buttons button {
    height: 125px;
    font-size: 40px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    color: white;
    background-color: hotpink;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Defining specific styles for status bars.*/
.status {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/*Defining shared styles for status bars.*/
.status-bar {
    font-size: 26px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: hotpink;
    height: 50px;
    width: 400px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
}

/*Defining specific styles for action buttons.*/
#feed,
#play,
#cure,
#lullaby {
    font-family: orbitron, sans-serif;
    margin-top: -30px;
    padding: 20px;
}

#egg,
#caterpillar,
#cocoon,
#butterfly,
#win {
    position: absolute;
    top: calc(-80px + 50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 18%;
    max-width: 283.8px;
}

/*Defining specific style for header.*/
.header {
    text-align: center;
}

@keyframes moveLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); } /* Adjust the value as needed to move it out of frame */
}

@keyframes moveAndFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(-600%);
        opacity: 0;
    }
}
.animateWin {
    animation: moveAndFade 10s linear forwards;
}

#win {
    animation: moveLeft 5s linear forwards; /* Adjust the duration as needed */
}

/*Defining specific style for name & age.*/
.tamagotchi-info {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    color: hotpink;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    font-size: 24px;
}

/*Defining specific style for name & age.*/
.tamagotchi-info input {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: hotpink;
    border: none;
}

/*Defining specific style for logo.*/
/*logo is an image of the Tamagotchi logo I pulled from the internet, adjusted in Photoshop to match the color of the toy, and then put on tumblr so I could pull the link to my html*/
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Defining specific styles for the tamagotchi container.*/
.tamagotchi {
    position: relative;
    background-image: url('https://64.media.tumblr.com/5c2611691378fe716a13d76b289bd8da/c26cb1404eaa7a2a-0f/s540x810/a7ce0d191d095c32341353270f1197e334b8b2b6.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    text-align: center;
    height: 1100px;
}

/*Defining specific styles for the buttons container.*/
.buttons {
    left: 30%;
    right: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    max-width: 100%;
    height: 400px;
    border: 10px hotpink;
}


/* REVISIT- NOTE TO SELF: found this on W3- active states to add to buttons so when they are clicked, there is a visual indication. Could not get this to actually work from what I could tell.
    .buttons button:active {
    background-color: #dddddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: scale(0.95);
    opacity: 0.8;
} */