/* Defining shared styles for action buttons.*/
.buttons button {
    height: 62.5px;
    font-size: 20px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    color: white;
    background-color: hotpink;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Defining specific styles for status bars.*/
.status {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

/*Defining shared styles for status bars.*/
.status-bar {
    font-size: 13px;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: hotpink;
    height: 25px;
    width: 200px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    padding: 5px;
    margin: 5px;
}

/*Defining specific styles for action buttons.*/
#feed,
#play,
#cure,
#lullaby {
    font-family: orbitron, sans-serif;
    margin-top: -15px;
    padding: 10px;
}

#egg,
#caterpillar,
#cocoon,
#butterfly,
#win {
    position: absolute;
    top: 60.5%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 9%;
    max-width: 141.9px;
}

/*Defining specific style for header.*/
.header {
    text-align: center;
}

@keyframes moveLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); } /* Adjust the value as needed to move it out of frame */
}

@keyframes moveAndFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(-600%);
        opacity: 0;
    }
}
.animateWin {
    animation: moveAndFade 10s linear forwards;
}

#win {
    animation: moveLeft 5s linear forwards; /* Adjust the duration as needed */
}

#soundtrackButton {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    color: hotpink;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    font-size: 24px;
}
/*Defining specific style for name & age.*/
.tamagotchi-info {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    color: hotpink;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    font-size: 24px;
}

/*Defining specific style for name & age.*/
.tamagotchi-info input {
    padding: 2.5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 100px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: hotpink;
    border: none;
}

/*Defining specific style for logo.*/
/*logo is an image of the Tamagotchi logo I pulled from the internet, adjusted in Photoshop to match the color of the toy, and then put on tumblr so I could pull the link to my html*/
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    margin-top: 125px;
    margin-bottom: 25px;
}

.welcome-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 192, 203, 0.8), rgba(255, 105, 108, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.welcome-content {
    text-align: center;
}
.welcome-content p {
    font-size: 25px;
    font-family: orbitron, sans-serif;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}
.welcome-content button {
    background-color: hotpink;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 40px;
    font-family: orbitron, sans-serif;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px;
}
/*Defining specific styles for the tamagotchi container.*/
.tamagotchi {
    position: relative;
    background-image: url('https://64.media.tumblr.com/5c2611691378fe716a13d76b289bd8da/c26cb1404eaa7a2a-0f/s540x810/a7ce0d191d095c32341353270f1197e334b8b2b6.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    text-align: center;
    height: 550px;
}

/*Defining specific styles for the buttons container.*/
.buttons {
    left: 30%;
    right: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width: 100%;
    height: 200px;
    border: 5px hotpink;
}

/* irrelevant for now until I figure out how to set proper conditionals for the death window */
.death-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent grey */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* irrelevant for now until I figure out how to set proper conditionals for the death window */
.death-content {
    text-align: center;
    color: white;
}

/* irrelevant for now until I figure out how to set proper conditionals for the death window */
.death-content p {
    font-size: 50px;
    font-family: orbitron, sans-serif;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}

/* irrelevant for now until I figure out how to set proper conditionals for the death window */
.death-content button {
    background-color: darkgrey;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 40px;
    font-family: orbitron, sans-serif;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px;
}

/* REVISIT- NOTE TO SELF: found this on W3- active states to add to buttons so when they are clicked, there is a visual indication. Could not get this to actually work from what I could tell.
    .buttons button:active {
    background-color: #dddddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: scale(0.95);
    opacity: 0.8;
} */